h1,h2,h3,h4,h5,h6,body,html,ul,ol,p{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style-type: none;
}
.modal{
  z-index: 100;
}
.modal,.modal-shadow{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal,.modal-dialog{
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-shadow{
  background: #000;
}
.fade{
  opacity: 0;
  transition: opacity .15s linear;
}
.in{
  opacity: 1;
}
.modal-shadow, .modal-shadow.fade.in{
  opacity: .7;
}
.modal-dialog{
  font-size: 14px;
  color:#383838;
  box-shadow: none;
  border-radius: 3px;
  background: #fff;
  border: none;
}
.vertical-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.flex-show{
  display: flex;
  width: 500px;
  min-height: 600px;
  margin: 48px auto;
  padding: 0;
}
.dialog-content{
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}
.dialog-form{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.dialog-header{
  position: relative;
  margin: 16px 16px 0;
  flex-shrink: 0;
  flex-grow: 0;
}
.dialog-header h4{
  padding-bottom: 15px;
}
.closeIcon{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #a6a6a6;
  line-height: 16px;
  content: "\EB29";
  cursor: pointer;
}
.dialog-main{
  min-width: 1px;
  min-height: 1px;
  flex: 1 1 auto;
  border-top: 1px solid #a6a6a6;
  padding: 10px;
}
.dialog-footer{
  min-height: 60px;
  border-top: 1px solid #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn{
  width: 70px;
  height: 2em;
  font-size: 14px;
  line-height: 2em;
  border-radius: 2em;
  outline: none;
  border: none;
  color:#fff;
  background: rgb(84, 144, 255)
}

.btn.btn-normal{
  background: rgb(0, 159, 165)
}